<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Multimedia</title>

    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <main>
        <div class="titulo">
        <header>
            <h1>Diseño <span class="h1_ultipedia"> Multimedia </span></h1>
        </header>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html">INICIO</a>
                    </li>
                    <li>
                        <a  href="../template/nostros.html">NOSOTROS</a>
                    </li>
                    <li>
                        <a  href="../template/servicios.html">SERVICIOS</a>
                    </li>
                    <li>
                        <a class="botonInicio" href="#">CONTACTO</a>
                    </li>
                </ul>
            </nav>
        </div>
        <section>
        <div class="SubCuerpo">
            <h2>Subscríbete a nuestro boletín</h2>
            <form action="RegistroEmail">
                <input type="text" name="RegistroEmail" id="Email" placeholder="Ingrese el Email..." > <button>Subscribete</button>
     
            </form>
        </div>
        </section>
        <section>
        <div class="finalCuerpo3">
        
            <div class="tablero5" >
                <h2>Contacto</h2>
                    <div class="tablero5a">
                        <p>Nombre</p>
                        <form action="RegistroNombre">
                            <input type="text" name="RegistroNombre" id="Email" placeholder="Ingrese tu nombre" >
                        </form>
                    </div>
                    <div class="tablero5a">
                        <p>Email</p>
                        <form action="RegistroEmail">
                            <input type="text" name="RegistroEmail" id="Email" placeholder="Ingrese tu email" > 
                        </form>
                    </div>
                    <div class="tablero5a">
                        <p>Telefono</p>
                        <form action="RegistroTelefono">
                            <input type="text" name="RegistroTelefono" id="Email" placeholder="Ingrese tu teléfono" >
                        </form>
                    </div>
                    <div class="tablero5a">
                        <p>Celular</p>
                        <form action="RegistroCelular">
                            <input type="text" name="RegistroCelular" id="Email" placeholder="Ingrese tu celular" > 
                        </form>
                    </div>
                    <div class="tablero5a">
                        <p>Mensaje</p>
                        <form action="Message">
                            <Textarea name="message" style="width:840px; height:200px;"></Textarea>
                        </form>
                    </div>
                    <button>Enviar</button>
        </div>
            <div class="tablero3a">
                <h3>Que hacemos</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, praesentium ab 
                natus quod quaerat cupiditate vero ipsa doloremque impedit quas quia aperiam 
                exercitationem sint veniam voluptates rerum nihil! Deserunt, sequi.</p>
                <div>
                <img class="mapaImgContacto" src="../assets/mapaGoogle.png" alt="mapaLocalizacion">
                </div>
            </div>
           
            
    </div>
    </section>
    <div class="footer">
		<footer >
			<p> Graphel Desarrollo Web, Copyright&copy; 2017</p>
    </main>
</body>
</html>