<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Multimedia</title>

    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <main>
        <div class="titulo">
        <header>
            <h1>Diseño <span class="h1_ultipedia"> Multimedia </span></h1>
        </header>
            <nav>
                <ul>
                    <li>
                        <a href="index.html">INICIO</a>
                    </li>
                    <li>
                        <a href="template/nostros.html">NOSOTROS</a>
                    </li>
                    <li>
                        <a href="template/servicios.html">SERVICIOS</a>
                    </li>
                    <li>
                        <a href="template/contacto.html">CONTACTO</a>
                    </li>
                </ul>
            </nav>
        </div>
        <section class="cabeceraInicio">
            <div class="contenidoCabecera">
                <h3>Expertos en tecnologia web</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, eaque? Quos sequi officia sint atque magnam, provident saepe, suscipit nulla, possimus voluptatum velit doloremque placeat tenetur odio ea sed repellat!</p>
            </div>
        </section>
        <section>
        <div class="SubCuerpo">
            <h2>Subscríbete a nuestro boletín</h2>
            <form action="RegistroEmail">
                <input type="text" name="RegistroEmail" id="Email" placeholder="Ingrese el Email..." > <button>Subscribete</button>
     
            </form>
        </div>
        </section>
        <section>
        <div class="finalCuerpo">
            <div class="tablero1" >
            <img src="assets/logo_html.png" alt="">
            <h3>HTML5</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies</p>
            </div>
            <div class="tablero1">
            <img src="assets/logo_css.png" alt="">
            <h3>CSS3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies</p>
            </div>
            <div class="tablero1">
            <img src="assets/logo_brush.png" alt="">
            <h3>Diseño Gráfico</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies</p>
            </div>
        </div>
    </section>
    <div class="footer">
		<footer >
			<p> Graphel Desarrollo Web, Copyright&copy; 2017</p>
    </main>
</body>
</html>