body{
    margin: 0px;
    padding: 0px;
    background-color: #1293D4;
}

.titulo{
    display: flex;
    background-color: #24282B;
    justify-content: space-around;
   font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0px 0px 5px 0px;
}
.h1_ultipedia{
    color:#1293D4;
}
.botonInicio{
    color: #1293D4;
}

.titulo nav ul li a{
    text-decoration: none;
    color: white;
    
}
.titulo nav ul{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.titulo nav ul li{
    list-style: none;
}

.titulo nav{
    align-content: center;
}

.cuerpo{
    background-color: #1293D4;
}

.cabeceraInicio{
    background-image: url(/assets/cabecera4.jpg);
    display: flex;
    height: 460px;
    width: 100%;
    justify-content: center;
    align-items: center; 
    flex-wrap:wrap ;
    background-size: cover;
}

.contenidoCabecera{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.contenidoCabecera h3{
    font-size: 50px;
}

.contenidoCabecera p{
    font-size: 20px;
    width: 1700px;
}


.SubCuerpo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    background-color: #24282B;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
    z-index: 999;
}

.SubCuerpo form{
    align-content: center;
    margin: 0px;
}
.SubCuerpo input{
    padding: 5px 70px 5px 5px;
}

.SubCuerpo button{
background-color: orangered;
color: white;
padding: 10px;
border-style: none;
}

.finalCuerpo{
    display: flex;
    justify-content:space-evenly;
    background-color: white;
    height: 270px;
    width: auto;
    align-items: center;


}


.finalCuerpo p{
    text-align: center;
    width: 300px;
    height: auto;
}

.finalCuerpo h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.tablero1{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 0px;
    height: auto;
    
}

.tablero1 h3{
    margin: 10px 10px 5px 10px;
}

.tablero1 img{
    height: 80px;
    width: 80px;
;
  
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 100%;
}